$family-primary: "Fira Code";
$light-bg: #EEEEEE;
$dark-bg: #222529;
$dark-link: #78B6AD;
$light-font-color: #2B2F33;
$light-primary: #9d0606;
$light-link: #634A96;

@import 'bulma.min';

/* Fira Code instead of some other font */
@font-face {
  font-family: "Fira Code";
  /* src-path is relative to this css file */
  src: url(../font/FIRACODE-REGULAR.TTF)
}

.common {
  --bulma-family-primary: #{$family-primary};
  font-size: 95%;
}

@media (prefers-color-scheme: light) {
  :root {
    /* CSS Variables */
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* CSS Variables */
  }
}


.theme-light, [data-theme=light], {
  @extend .common;
  --background-col: #{$dark-bg};
  --bulma-scheme-main: #{$light-bg};
  --bulma-primary: #{$light-primary};
  --bulma-link-text: #{$light-link};
  --bulma-scheme-h: 280;
  --bulma-hover-background-l-delta: -20%;

  ////--bulma-link-text-hover: var(--bulma-background-hover);
  //--bulma-link-text-active: var(--bulma-primary);
}

.theme-dark, [data-theme=dark], {
  @extend .common;
  --background-col: #{$light-bg};
  --bulma-scheme-main: #{$dark-bg};
  --bulma-scheme-h: 171;
  --bulma-hover-background-l-delta: 20%;
  --bulma-link-text: #{$dark-link}
}


h1 {
  @extend .title;
  @extend .is-1;
  text-align: center;
  text-wrap: balance;
}

h1::before {
  content: '# ';
  color: var(--bulma-primary);
}

h2 {
  @extend .is-2;
  text-wrap: balance;
}

h2::before {
  content: '## ';
  color: var(--bulma-primary);
}

h3 {
  @extend .is-3;
  text-wrap: balance;
}

h3::before {
  content: '### ';
  color: var(--bulma-primary);
}

section {
  @extend .section;
}

:root {

}

.navbar {
}

.main-navbar {
  border-bottom: solid gray;
  background-color: transparent;
}

/* Icons settings */
.icons {
  width: 1.0rem;
  height: 1.0rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--fgColor);
  fill: var(--fgColor);
  background-color: transparent;
}

.icons__background:hover {
  background-color: transparent;
  color: var(--metaColor);
}

.themeButton {
  cursor: pointer;
  border: none;
  font-size: 0.8rem;
  background-color: transparent
}

.dark .themeButton.dark,
.themeButton.light {
  display: none
}

.dark .themeButton.light {
  display: block
}

.navLogo {
  font-size: 1.75rem
}

.navbar-item.is-active-item {
  //background: var(--bulma-background-hover);
  background: var(--bulma-background-active);
}

.menu-list .navbar-item:hover {
  background: var(--bulma-background-hover);
}

.breadcrumb a {
  color: var(--bulma-link-text);

  &:hover {
    background: var(--bulma-background-hover);
    color: var(--bulma-text);
  }

  &.is-active-item {
    border-bottom: var(--bulma-text);
    border-bottom-style: solid;
    border-bottom-width: thin;
  }
}


a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude javascript only links */
  [href^="javascript:" i],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//shoujin.dev"]
)):after {
  content: '🔗';
}

