<nav class="navbar main-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <div class="navLogo">{{ config.icon.text }}</div>
            {{ config.title }}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavBar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="mainNavBar" class="navbar-menu">
        <div class="navbar-end">
            <a href="{{ url_for('glossary.overview') }}" class="navbar-item">
                Startseite
            </a>
            {% for key, value in config.menu.items() %}
                {% if value.startswith('_') %}
                    <a href="{{ url_for('page.page', page=value) }}" class="navbar-item">{{ key }}</a>
                {% else %}
                    <a href="{{ value }}" class="navbar-item">{{ key }}</a>
                {% endif %}
            {% endfor %}

            <div class="navbar-item">
                <button class="themeButton light" onclick="setTheme('light')" title="Light mode">
                    <svg class="icons icons__background">
                        <use href="{{ url_for('static', filename='icons.svg') | safe }}#lightMode"></use>
                    </svg>
                </button>
                <button class="themeButton dark" onclick="setTheme('dark')" title="Dark mode">
                    <svg class="icons icons__background">
                        <use href="{{ url_for('static', filename='icons.svg') | safe }}#darkMode"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>

<script>
    {# partially taken from https://lukelowrey.com/css-variable-theme-switcher/ #}

    let storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    if (storedTheme)
        document.documentElement.setAttribute('data-theme', storedTheme)

    const setTheme = (theme) => {
        let currentTheme = document.documentElement.getAttribute("data-theme");
        document.documentElement.className = theme;
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>